body {
	margin: 0;
	padding: 0;
	background: #64242B url(images/bg.png) repeat;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 11pt;
	color: #787878;
}

p {
	margin-top: 0;
	line-height: 180%;
}

#wrapper {
	padding-top: 50px;
	padding-bottom: 50px;
}

#header-wrapper {
	height: 140px;
}

#header {
	width: 1100px;
	height: 100px;
	margin: 0 auto;
	padding: 0px 50px;
	background: #992645 url(images/bg.png) repeat;
}

#logo {
	float: left;
	width: 300px;
	color: #FFFFFF;
}

#play{
	margin: 10px;
	width:100%;
	text-align: center;
	padding-left: 150px;
}

#menu {
	float: right;
	width: 500px;
	height: 90px;
	margin: 0 auto;
	padding: 0;
}

#menu ul {
	float: right;
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	line-height: 100px;
	margin-right: 1px;
	padding: 0px 20px 0px 20px;
	letter-spacing: 1px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px rgba(0,0,0,.2);
	text-transform: uppercase;
	font-size: 0.90em;
	font-weight: 300;
	color: #FFFFFF;
	border: none;
	font-family: arial black;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 0.92em;
}

#page {
	overflow: hidden;
	width: 1100px;
	margin: 0 auto;
	padding: 5em 50px 6em 50px;
	background: #FFFFFF;
}

#content {
	float: left;
	width: 750px;
}

#playGame{
position: relative;
left: 20%;
}